:root {
  --primary-color: #ffe6f7;
  --secondary-color: #ffabe1;
  --terciary-color: #c689c6;
  --quaternary-color: #937dc2;
}

/* Estos estilos son los generales de todas las páginas */
.home {
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: larger;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-color);
  text-align: center;
  
}

.title {
  font-family: "Alkatra", cursive !important;
  text-align: center;
  width: auto;
  margin-top: 3%;
  color: rgb(12, 12, 12);
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
nav {
  background-color: var(--secondary-color);
  background-position: center;
  padding: 10px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

footer {
  position: relative;
  margin-top: 1%;
  width: 100%;
  height: 40px;
  color: rgb(0, 0, 0);
}
.procesion{
  display: flex;
  width: 500px;
}
.pasos{
  text-align: start;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;  
}
.pasos p{
  margin: 10px;
}
.miniaturas{
  width: 300px;
  margin: auto;
}

/*       Estilos Semana Santa(Main) */

main {
  display: flex;
  align-items: center;
}
aside {
  font-weight: bolder;
  width: 30%;
  font-size: 1em;
  text-align: center;
  margin: 5px;
  padding: 5px;
  height: 100%;
}
.borde {
  padding: 10px;
  border: 5px solid var(--quaternary-color);
}
section {
  display: flex;
  align-items: center;
  width: 70%;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin: 35px;
}

article figure {
  height: auto;
}
article figure img {
  width: 185px;
  box-shadow: 4px 5px 10px #392d2d;
  border-radius: 15px;
  height: auto;
}
/* *********************** Estilos Domingo de Ramos******************************** */


.tabla {  
  margin: auto;
  border: solid var(--quaternary-color);
}
.hora {
  text-align: center;
  margin: auto;
  border: solid var(--quaternary-color);
  background-color: var(--secondary-color);
}
.recogida {
  margin: auto;
  border: solid var(--quaternary-color);
  background-color: var(--secondary-color);
}
td {
  margin: auto;
  text-align: center;
  border: solid var(--quaternary-color);
  padding: 4px;
}
