:root {
  --primary-color: #ffe6f7;
  --secondary-color: #ffabe1;
  --terciary-color: #c689c6;
  --quaternary-color: #937dc2;
}

/* Estos estilos son los generales de todas las páginas */
.home {
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: larger;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--primary-color);
  text-align: center;
  
}

.title {
  font-family: "Alkatra", cursive !important;
  text-align: center;
  width: auto;
  margin-top: 3%;
  color: rgb(12, 12, 12);
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
nav {
  background-color: var(--secondary-color);
  background-position: center;
  padding: 10px;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0a0a0a;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color:var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 40px;
  color: rgb(0, 0, 0);
}
.procesion{
  display: flex;
  width: 500px;
  margin-top: 30px;
  margin-left: 17px;
  margin-right: 17px;
}
.pasos{
  text-align: start;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;  

}
.pasos p{
  margin: 10px;
  align-items: flex-start;
}
.miniaturas{
  width: 300px;
  margin: auto;
}

/*       Estilos Semana Santa(Main) */

main {
  display: flex;
  
}
aside {
  font-weight: bolder;
  width: 35%;
  font-size: 1em;
  text-align: center;
  margin-top: 90px;
  padding: 20px;
  height: 100%;
}
.borde {
  padding: 10px;
  border: 5px solid var(--quaternary-color);
}
section {
  display: flex;
  align-items: center;
  width: 65%;
  margin-top: 5%;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  justify-content: center;
}

article figure {
  height: auto;
}
article figure img {
  width: 185px;
  box-shadow: 4px 5px 10px #392d2d;
  border-radius: 15px;
  height: auto;
}
/* *********************** Estilos dias semana******************************** */


.tabla {  
  margin: auto;
  border: solid var(--quaternary-color);
}
.hora {
  text-align: center;
  margin: auto;
  border: solid var(--quaternary-color);
  background-color: var(--secondary-color);
}
.nombres{
  font-style: oblique;
  font-size: 17px;
  background-color: var(--secondary-color);
}
.recogida {
  margin: auto;
  border: solid var(--quaternary-color);
  background-color: var(--secondary-color);
}
td {
  margin: auto;
  text-align: center;
  border: solid var(--quaternary-color);
  padding: 4px;
}
figcaption{
  margin-top: 10px;
}
